<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798769817647-17raa2c2lb2q73qvg9d3cccphu43o9rv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798769817647-17raa2c2lb2q73qvg9d3cccphu43o9rv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>798769817647-of7qam69jq4gpeqjoi96tjkdkvut103v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-FRhyCM4M0jjncPJNevJTwQqlOLW0MdY</string>
	<key>GCM_SENDER_ID</key>
	<string>798769817647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cl.your.org</string>
	<key>PROJECT_ID</key>
	<string>flutter-c3b25</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-c3b25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798769817647:ios:3690b2e13e159c324e3eda</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-c3b25.firebaseio.com</string>
</dict>
</plist>